  </div>
  <div class="container">
    <div id="welcome-greeting">
      <div class="card col-md-3">
            <p style="font-size:140%;"><i class="fa fa-envelope-o" style="font-size:35px;color:#4682B4"></i>&nbsp; elsa.ducrot@cea.fr / elsa.ducrot@obspm.fr  </p>
            <img src="images/self.jpg" width:"100" height:"100"/>
      </div>
      <hr />
      <hr />
      <h1>Hi! I'm Elsa. (last update: Feb 2025)</h1>
      <h2>Since Sep 2024 I am an Assisant-Astronomer at OSUPS (Observatoire des Sciences de l'Université Paris-Saclay). I work at CEA Saclay and have a visitor status at the Observatory of Paris. From Oct 2023 to Sep 2024, I was a postdoc at the Observatory of Paris, working on unveiling the atmospheres of rocky to Sub-Neptunes planets with the <a href="https://jwst.nasa.gov/content/webbLaunch/index.html"> James Webb Space Telescope</a> (JWST). From Sep 2021 to Oct 2023 I was a posdoct at CEA, working in the <a href="https://www.jwst.nasa.gov/content/observatory/instruments/miri.html"> JWST/MIRI instrument </a>
        science team to observe the day side emission of terrestrial temperate planets. Previously I was a PhD student at
        the University of Liège working under the supervision of <a href="https://www.uliege.be/cms/c_9054334/fr/repertoire?uid=u193465">Dr Michaël Gillon</a>.
        I am interested in the search of habitable planets around ultra-cool star, the most amenable for the first characterisation of temperate rocky worlds with the JWST.
        I am notably involved in the <a href="https://www.speculoos.uliege.be/cms/c_4259452/en/speculoos">SPECULOOS</a>
        project and a lot of my time is dedicated to the study of the <a href="http://www.trappist.one/">TRAPPIST-1</a> system.
        </h2>
      <hr />
    </div>
  </div>
  <div class ="container">
