<div id="publications">
    <h1> Publications </h1>
    <p style="font-size:140%;"> To date, I have contributed to 67 papers.
        Please find below a list of my first-author peer-reviewed publications,
        a list of my significant contribution peer-reviewed publications, and a list of the others peer-reviewed publications I was involved in.
    Statistics about my publications can be found on <a href="https://ui.adsabs.harvard.edu/search/filter_author_facet_hier_fq_author=AND&filter_author_facet_hier_fq_author=author_facet_hier%3A%220%2FDucrot%2C%20E%22&filter_database_fq_database=AND&filter_database_fq_database=((database%3Aastronomy%20OR%20database%3Aphysics))&filter_database_fq_database=database%3A%22astronomy%22&filter_property_fq_property=AND&filter_property_fq_property=property%3A%22refereed%22&fq=%7B!type%3Daqp%20v%3D%24fq_database%7D&fq=%7B!type%3Daqp%20v%3D%24fq_author%7D&fq=%7B!type%3Daqp%20v%3D%24fq_property%7D&fq_author=(author_facet_hier%3A%220%2FDucrot%2C%20E%22)&fq_database=(((database%3Aastronomy%20OR%20database%3Aphysics))%20AND%20database%3A%22astronomy%22)&fq_property=(property%3A%22refereed%22)&p_=0&q=ducrot&sort=date%20desc%2C%20bibcode%20desc"> [NASA ADS] </a>
    </p> -- LAST UPDATE MAY 2025 --

    <h2>First-author publications:</h2>

    <div class="article">
        <h3> First JWST thermal phase curves of temperate terrestrial exoplanets reveal no thick atmosphere around TRAPPIST-1 b and c </h3>
        <h4><b> Gillon &amp Ducrot </b> et al. 2025 <i> Nature Astronomy accepted</i> <br></h4>
        <h4> <a href=""> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> Combined analysis of the 12.8 and 15 microns JWST/MIRI eclipse observations of TRAPPIST-1 b </h3>
        <h4><b> Ducrot &amp Lagage </b> et al. 2024 <i> Nature Astronomy 9, pages 358–369</i> <br></h4>
        <h4> <a href="https://www.nature.com/articles/s41550-024-02428-z"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> TRAPPIST-1: Global results of the Spitzer Exploration Science Program Red Worlds </h3>
        <h4><b> Ducrot </b> et al. 2020. A &amp A vol. 640, p. A112 <br></h4>
        <h4> <a href="https://www.aanda.org/articles/aa/pdf/2020/08/aa37392-19.pdf"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> The 0.8-4.5 μm Broadband Transmission Spectra of TRAPPIST-1 Planets </h3>
        <h4><b> Ducrot </b> et al. 2018. The Astronomical Journal, Volume 156, Issue 5, article id. 218, 16 pp <br></h4>
        <h4> <a href="https://ui.adsabs.harvard.edu/link_gateway/2018AJ....156..218D/PUB_PDF"> [Click here to read full article]</a></h4>
    </div>

    <h2>Significant contribution publications:</h2>
    <div class="article">
      <h3> Warm Jupiters around M dwarfs are great opportunities for extensive chemical, cloud, and haze characterisation with JWST </h3>
      <h4> Teinturier, <b> Ducrot </b>, Charnay 2024 <i> A &amp A, Volume 690
</i><br></h4>
      <h4> <a href = "https://www.aanda.org/articles/aa/full_html/2024/10/aa50761-24/aa50761-24.html"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
      <h3> Simulating JWST MIRI LRS time series observations </h3>
      <h4> Dyrek, <b> Ducrot </b> et al. 2023,  <i> A &amp A, Volume 683,</i><br></h4>
      <h4> <a href = "https://www.aanda.org/articles/aa/full_html/2024/03/aa47127-23/aa47127-23.html"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
      <h3> No thick carbon dioxide atmosphere on the rocky exoplanet TRAPPIST-1 c </h3>
        <h4> Zieba, Kreidberg, <b> Ducrot </b> et al. 2023,<i> Nature Volume 620</i> <br></h4>
      <h4> <a href = "https://doi.org/10.1038/s41586-023-06232-z"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
      <h3> Thermal emission from the Earth-sized exoplanet TRAPPIST-1 b using JWST </h3>
        <h4> Greene, Bell, <b> Ducrot </b> et al. 2023, <i>Nature,  Volume 618</i> <br></h4>
      <h4> <a href = "https://www.nature.com/articles/s41586-023-05951-7"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
      <h3> Two temperate super-Earths transiting a nearby late-type M dwarf </h3>
        <h4> Delrez, Murray, Pozuelos, Narita, <b> Ducrot </b> et al. 2022, <i>A &amp A, Volume 667, id.A59, 31 pp.</i> <br></h4>
      <h4> <a href = "https://www.aanda.org/component/article?access=doi&doi=10.1051/0004-6361/202244041"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> Complex Modulation of Rapidly Rotating Young M Dwarfs: AddingPieces to the Puzzle </h3>
        <h4> Günther, Berardo, <b> Ducrot </b> et al. 2022. <i>The Astronomical Journal, Volume 163, Number 4.</i>  <br></h4>
        <h4> <a href="https://iopscience.iop.org/article/10.3847/1538-3881/ac503c/meta"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> Refining the transit timing and photometric analysis of TRAPPIST-1: Masses, radii, densities, dynamics, and ephemerides. </h3>
        <h4> Agol, Dorn, Grimm, Turbet,<b> Ducrot </b> et al. 2021. <i>The Planetary Science Journal, vol. 2, Issue 1, id.1, 38 pp.</i> <br></h4>
        <h4> <a href="https://iopscience.iop.org/article/10.3847/PSJ/abd022"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> Development of the SPECULOOS exoplanet search project </h3>
        <h4> Sebastian, Pedersen, Murray, <b> Ducrot </b> et al. 2020. <i>Proceedings of the SPIE, Volume 11445, id. 1144521 16 pp. (2020).</i> <br></h4>
        <h4> <a href="https://doi.org/10.1117/12.2563563"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> SPECULOOS - Ultracool Dwarf Transit Survey, Target List and Strategy </h3>
        <h4> Sebastian, Gillon, <b> Ducrot </b> et al. 2020. <i>A &amp A, vol. 645, January 2021.</i> <br></h4>
        <h4> <a href="https://arxiv.org/pdf/2011.02069.pdf"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> πEarth: a 3.14-day Earth-sizedPlanet fromK2’s Kitchen Served Warm by the SPECULOOS Team </h3>
        <h4> Niraula, de Wit, Rackham, <b> Ducrot </b> et al. 2020. <i>The Astronomical Journal, vol. 160, Issue 4, id.172, 9 pp.</i> <br></h4>
        <h4> <a href="https://ui.adsabs.harvard.edu/link_gateway/2020arXiv200607308N/EPRINT_PDF"> [Click here to read full article]</a></h4>
    </div>



    <h2>Other co-authored publications:</h2>
    <div class="article">
        <h3> TOI-6508 b: A massive transiting brown dwarf orbiting a low-mass star </h3>
        <h4> Barkaoui, ..., <b> Ducrot </b> et al. 2025. <i>  Astronomy &amp Astrophysics, Volume 696, id.A44, 15 pp. </i> <br></h4>
        <h4> <a href="https://www.aanda.org/articles/aa/full_html/2025/04/aa53508-24/aa53508-24.html"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> JWST sighting of decametre main-belt asteroids and view on meteorite sources </h3>
        <h4> Burdanov, ..., <b> Ducrot </b> et al. 2025. <i> Nature, 638, pages74–78 </i> <br></h4>
        <h4> <a href="https://www.nature.com/articles/s41586-024-08480-z"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> TOI-2015 b: A sub-Neptune in strong gravitational interaction with an outer non-transiting planet </h3>
        <h4> Barkaoui, ..., <b> Ducrot </b> et al. 2025. <i> Astronomy &amp Astrophysics, Volume 695, A291 </i> <br></h4>
        <h4> <a href="https://www.aanda.org/articles/aa/full_html/2025/03/aa52916-24/aa52916-24.html"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> History and Habitability of the LP 890-9 Planetary System</h3>
        <h4> Barnes, ..., <b> Ducrot </b> et al. 2024. <i>  The Planetary Science Journal, Volume 6, Issue 1, id.25, 13 pp. </i> <br></h4>
        <h4> <a href="https://ui.adsabs.harvard.edu/abs/2025PSJ.....6...25B/abstract"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> TOI 762 A b and TIC 46432937 b: Two Giant Planets Transiting M-dwarf Stars </h3>
        <h4> Hartman, ..., <b> Ducrot </b> et al. 2024. <i> AJ 168 202 </i> <br></h4>
        <h4> <a href="https://iopscience.iop.org/article/10.3847/1538-3881/ad6f07"> [Click here to read full article]</a></h4>
    </div>
     <div class="article">
        <h3> The radiative and dynamical impact of clouds in the atmosphere of the hot Jupiter WASP-43 b </h3>
        <h4> Teinturier, ..., <b> Ducrot </b> et al. 2024. <i> Astronomy &amp Astrophysics, Volume 683, A231 </i> <br></h4>
        <h4> <a href="https://www.aanda.org/articles/aa/full_html/2024/03/aa47069-23/aa47069-23.html"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> A long-period transiting substellar companion in the super-Jupiters to brown dwarfs mass regime and a prototypical warm-Jupiter detected by TESS </h3>
        <h4> Jones, ..., <b> Ducrot </b> et al. 2024. <i> Astronomy &amp Astrophysics, Volume 683, A192 </i> <br></h4>
        <h4> <a href="https://www.aanda.org/articles/aa/full_html/2024/03/aa48147-23/aa48147-23.html"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> Evidence for transit-timing variations of the 11 Myr exoplanet TOI-1227 b </h3>
        <h4> Amenara, ..., <b> Ducrot </b> et al. 2024. <i> Astronomy &amp Astrophysics, Volume 683, A96 </i> <br></h4>
        <h4> <a href="https://www.aanda.org/articles/aa/full_html/2024/03/aa48492-23/aa48492-23.html"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> Nightside clouds and disequilibrium chemistry on the hot Jupiter WASP-43b </h3>
        <h4> Bell, ..., <b> Ducrot </b> et al. 2024. <i> Nature Astronomy, volume 8, pages 879–898 </i> <br></h4>
        <h4> <a href="https://www.nature.com/articles/s41550-024-02230-x"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> An extended low-density atmosphere around the Jupiter-sized planet WASP-193 b </h3>
        <h4> Barkaoui, ..., <b> Ducrot </b> et al. 2024. <i> Nature Astronomy, volume 8, pages 909–919 </i> <br></h4>
        <h4> <a href="https://www.nature.com/articles/s41550-024-02259-y"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> A 1.55 R_earth habitable-zone planet hosted by TOI-715, an M4 star near the ecliptic South Pole </h3>
        <h4> Dransfield, ..., <b> Ducrot </b> et al. 2023. <i> Monthly Notices of the Royal Astronomical Society, Volume 527, Issue 1, pp.35-52. </i> <br></h4>
        <h4> <a href="https://academic.oup.com/mnras/article/527/1/35/7172075"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> SO2, silicate clouds, but no CH4 detected in a warm Neptune </h3>
        <h4> Dyrek, ..., <b> Ducrot </b> et al. 2023. <i> Nature </i> <br></h4>
        <h4> <a href="https://doi.org/10.1038/s41586-023-06849-0"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> Water condensation zones around main sequence stars </h3>
        <h4> Turbet, ..., <b> Ducrot </b> et al. 2023. <i> Astronomy &amp Astrophysics, Volume 679, id.A126, 36 pp. </i> <br></h4>
        <h4> <a href="https://doi.org/10.1051/0004-6361/202347539"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> A roadmap to the efficient and robust characterization of temperate terrestrial planet atmospheres with JWST </h3>
        <h4> TRAPPIST-1 JWST Community Initiatives, ..., <b> Ducrot </b> et al. 2023. <i> in review at Nature Astronomy </i> <br></h4>
        <h4> <a href="https://arxiv.org/abs/2310.15895"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> An M dwarf accompanied by a close-in giant orbiter with SPECULOOS </h3>
        <h4> Triaud, ..., <b> Ducrot </b> et al. 2023. <i> Monthly Notices of the Royal Astronomical Society: Letters, Volume 525, Issue 1, pp. L98-L104. Oct 2023 </i> <br></h4>
        <h4> <a href="https://doi.org/10.1093/mnrasl/slad097"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> Potential Atmospheric Compositions of TRAPPIST-1 c Constrained by JWST/MIRI Observations at 15 microns </h3>
        <h4> Lincowski, ..., <b> Ducrot </b> et al. 2023. <i> The Astrophysical Journal Letters, Volume 955, Issue 1, id.L7, 12 pp. </i> <br></h4>
        <h4> <a href="https://www.aanda.org/articles/aa/full_html/2023/09/aa46838-23/aa46838-23.html"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> TOI-2084 b and TOI-4184 b: Two new sub-Neptunes around M dwarf stars </h3>
        <h4> Barkaoui, ..., <b> Ducrot </b> et al. 2023. <i> A &amp A Volume 677, id.A38, 20 pp.</i> <br></h4>
        <h4> <a href="https://www.aanda.org/articles/aa/full_html/2023/09/aa46838-23/aa46838-23.html"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> A reflective, metal-rich atmosphere for GJ 1214b from its JWST phase curve </h3>
        <h4> Kempton, ..., <b> Ducrot </b> et al. 2023. <i> Nature 620, 67–71. Aug 2023.</i> <br></h4>
        <h4> <a href="https://doi.org/10.1038/s41586-023-06159-5"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> A temperate Earth-sized planet with tidal heating transiting an M6 star </h3>
        <h4> Peterson, ..., <b> Ducrot </b> et al. 2023. <i> Nature 617, 701–705 </i> <br></h4>
        <h4> <a href="https://www.nature.com/articles/s41586-023-05934-8"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> A super-Earth and a mini-Neptune near the 2:1 MMR straddling the radius valley around the nearby mid-M dwarf TOI-2096 </h3>
        <h4> Pozuelos, ..., <b> Ducrot </b> et al. 2023. <i> Astronomy &amp Astrophysics, Volume 672, id.A70, 25 pp </i> <br></h4>
        <h4> <a href="https://www.aanda.org/articles/aa/full_html/2023/04/aa45440-22/aa45440-22.html"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> Precise near-infrared photometry, accounting for water vapour </h3>
        <h4> Pedersen, ..., <b> Ducrot </b> et al. 2023. <i> Monthly Notices of the Royal Astronomical Society, Volume 518, Issue 2, pp.2661-2670 </i> <br></h4>
        <h4> <a href="https://academic.oup.com/mnras/article/514/3/4120/6595325"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> Final Report for SAG 21: The Effect of Stellar Contamination on Space-based Transmission Spectroscopy </h3>
        <h4> Rackham, ..., <b> Ducrot </b> et al. 2023. <i> RAS Techniques and Instruments, Volume 2, Issue 1, January 2023, pp. 148-206 </i> <br></h4>
        <h4> <a href="https://academic.oup.com/rasti/article/2/1/148/7081330"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> SPECULOOS Northern Observatory: Searching for Red Worlds in the Northern Skies </h3>
        <h4> Burdanov, ..., <b> Ducrot </b> et al. 2022. <i> Publications of the Astronomical Society of the Pacific, Volume 134, Issue 1040, id.105001, 11 pp </i> <br></h4>
        <h4> <a href="https://academic.oup.com/mnras/article/514/3/4120/6595325"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> TESS discovery of a sub-Neptune orbiting a mid-M dwarf TOI-2136 </h3>
        <h4> Tianjun, ..., <b> Ducrot </b> et al. 2022. <i>Monthly Notices of the Royal Astronomical Society, Volume 514, Issue 3, August 2022, Pages 4120–4139 </i> <br></h4>
        <h4> <a href="https://academic.oup.com/mnras/article/514/3/4120/6595325"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> A Study of Flares in the Ultra-Cool Regime from SPECULOOS-South </h3>
        <h4> Murray, ..., <b> Ducrot </b> et al. 2022. <i>Monthly Notices of the Royal Astronomical Society, Volume 513, Issue 2, June 2022, Pages 2615–2634 </i> <br></h4>
        <h4> <a href="https://academic.oup.com/mnras/article/513/2/2615/6570707?login=true"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> TOI-2257 b: A highly eccentric long-period sub-Neptune transiting a nearby M dwarf </h3>
        <h4> Schanche, ..., <b> Ducrot </b> et al. 2021. <i>A @amp A, Volume 657, id.A45, 18 pp.</i> <br></h4>
        <h4> <a href="https://www.aanda.org/articles/aa/pdf/2022/01/aa42280-21.pdf"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> prose: A Python framework for modular astronomical images processing </h3>
        <h4> Garcia, Timmermans, Pozuelos, <b> Ducrot </b> et al. 2021. <i>Accepted for publication in the Monthly Notices of the Royal Astronomical Society </i>  <br></h4>
        <h4> <a href="https://academic.oup.com/mnras/advance-article-abstract/doi/10.1093/mnras/stab3113/6414007?redirectedFrom=fulltext"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> NGTS clusters survey - III. A low-mass eclipsing binary in the Blanco 1 open cluster spanning the fully convective boundary </h3>
        <h4> Smith, ..., <b> Ducrot </b> et al. 2021. <i>Monthly Notices of the Royal Astronomical Society, Volume 507, Issue 4 </i>  <br></h4>
        <h4> <a href="https://academic.oup.com/mnrasl/article/504/1/L45/6228864"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> A large sub-Neptune transiting the thick-disk M4 V TOI-2406 </h3>
        <h4> Wells, ..., <b> Ducrot </b> et al. 2021. <i>A &amp A, Volume 653, id.A97, 17 pp. </i>  <br></h4>
        <h4> <a href="https://www.aanda.org/articles/aa/abs/2021/09/aa41277-21/aa41277-21.html"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> A Study of Flares in the Ultra-Cool Regime from SPECULOOS-South </h3>
        <h4> Murray, ..., <b> Ducrot </b> et al. 2021. <i>Submitted to the Monthly Notices of the Royal Astronomical Society </i>  <br></h4>
        <h4> <a href=""> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> A transit timing variation observed for the long-period extremely low-density exoplanet HIP 41378 f </h3>
        <h4> Bryant, ..., <b> Ducrot </b> et al. 2021. <i>Monthly Notices of the Royal Astronomical Society: Letters, Volume 504, Issue 1, pp.L45-L50 </i>  <br></h4>
        <h4> <a href="https://academic.oup.com/mnrasl/article/504/1/L45/6228864"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> Six transiting planets and a chain of Laplace resonances in TOI-178. </h3>
        <h4> Leleu, Alibert, Hara, ..., <b> Ducrot </b> et al. 2021. <i>Accepted for publication in A &amp A </i>  <br></h4>
        <h4> <a href="https://arxiv.org/abs/2101.09260"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> Global analysis of the TRAPPIST Ultra-Cool Dwarf Transit Survey </h3>
        <h4> Lienhard, Queloz, Gillon, Burdanov, Delrez, <b> Ducrot </b> et al. 2020. Monthly Notices of the Royal Astronomical Society, Volume 497, Issue 3, pp.3790-3808 <br></h4>
        <h4> <a href="https://ui.adsabs.harvard.edu/link_gateway/2020MNRAS.497.3790L/PUB_PDF"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> Two Transiting Hot Jupiters from the WASP Survey: WASP-150band WASP-176b </h3>
        <h4> Cooke, Pollacco, Almleaky, ..., <b> Ducrot </b> et al. 2020. The Astronomical Journal, vol. 159, p. 255 <br></h4>
        <h4> <a href="https://iopscience.iop.org/article/10.3847/1538-3881/ab88db"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> Photometry and performance of SPECULOOS-South </h3>
        <h4> Murray, Delrez, Pedersen, Queloz, Gillon, Burdanov, <b> Ducrot </b> et al. 2020. Monthly Notices of the Royal Astronomical Society, Volume 495, Issue 2, pp.2446-2457 <br></h4>
        <h4> <a href="https://ui.adsabs.harvard.edu/link_gateway/2020MNRAS.495.2446M/PUB_PDF"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> A Rare Pair of Eclipsing Brown Dwarfs Identified by the SPECULOOS Telescopes </h3>
        <h4> Triaud, Burgasser, Burdanov, ..., <b> Ducrot </b> et al. 2020. The Messenger, vol. 180, p. 37-40 <br></h4>
        <h4> <a href="https://ui.adsabs.harvard.edu/link_gateway/2020Msngr.180...37T/PUB_PDF"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> An eclipsing substellar binary in a young triple system discovered by SPECULOOS </h3>
        <h4> Triaud, Burgasser, Burdanov, ..., <b> Ducrot </b> et al. 2020. Nature Astronomy, Volume 4, p. 650-657 <br></h4>
        <h4> <a href="https://ui.adsabs.harvard.edu/link_gateway/2020NatAs...4..650T/PUB_HTML"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> WASP-180Ab: Doppler tomography of a hot Jupiter orbiting the primary star in a visual binary </h3>
        <h4> Temple, Anderson, Barkaoui, ..., <b> Ducrot </b> et al. 2019. Monthly Notices of the Royal Astronomical Society, Volume 490, Issue 2 <br></h4>
        <h4> <a href="https://academic.oup.com/mnras/article/490/2/2467/5572277"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> Near-resonance in a System of Sub-Neptunes from TESS </h3>
        <h4> Quinn, Becker, Rodriguez, ..., <b> Ducrot </b> et al. 2019. The Astronomical Journal, vol. 158, p. 177 <br></h4>
        <h4> <a href="https://iopscience.iop.org/article/10.3847/1538-3881/ab3f2b"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> WASP-169, WASP-171, WASP-175, and WASP-182: three hot Jupiters and one bloated sub-Saturn mass planet discovered by WASP-South </h3>
        <h4> Nielsen, Bouchy, Turner, ..., <b> Ducrot </b> et al. 2019. Monthly Notices of the Royal Astronomical Society, Volume 489, Issue 2 <br></h4>
        <h4> <a href="https://academic.oup.com/mnras/article/489/2/2478/5554000"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> Ground-based follow-up observations of TRAPPIST-1 transits in the near-infrared </h3>
        <h4> Burdanov, Lederer, Gillon, Delrez, <b> Ducrot </b> et al. 2019. Monthly Notices of the Royal Astronomical Society, Volume 487, Issue 2, p.1634-1652 <br></h4>
        <h4> <a href="https://ui.adsabs.harvard.edu/link_gateway/2019MNRAS.487.1634B/PUB_PDF"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> The L 98-59 System: Three Transiting, Terrestrial-size Planets Orbiting a Nearby M Dwarf</h3>
        <h4> Kostov, Schlieder, Barclay, ..., <b> Ducrot </b> et al. 2019. The Astronomical Journal, vol. 158, p. 32,  <br></h4>
        <h4> <a href="https://iopscience.iop.org/article/10.3847/1538-3881/ab2459"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> NGTS-4b: A sub-Neptune transiting in the desert</h3>
        <h4> West, Gillen, Bayliss, ..., <b> Ducrot </b> et al. 2019. Monthly Notices of the Royal Astronomical Society, Volume 486, Issue 4 <br></h4>
        <h4> <a href="https://academic.oup.com/mnras/article/486/4/5094/5475662"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> Three hot-Jupiters on the upper edge of the mass–radius distribution: WASP-177, WASP-181, and WASP-183</h3>
        <h4> Turner, Anderson, Barkaoui, ..., <b> Ducrot </b> et al. 2019. Monthly Notices of the Royal Astronomical Society, Volume 485, Issue 4 <br></h4>
        <h4> <a href="https://academic.oup.com/mnras/article/485/4/5790/5380807"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> The SPECULOOS Southern Observatory Begins its Hunt for Rocky Planets</h3>
        <h4> Jehin, ..., <b> Ducrot </b> et al. 2018. The Messenger, vol. 174, pp. 2–7, <br></h4>
        <h4> <a href="https://www.eso.org/sci/publications/messenger/archive/no.174-dec18/messenger-no174-2-7.pdf"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> Activity induced variation in spin-orbit angles as derived from Rossiter–McLaughlin measurements </h3>
        <h4> Oshagh, Triaud, Burdanov, ..., <b> Ducrot </b> et al. 2018. Astronomy &amp Astrophysics, vol. 619, p. A150, <br></h4>
        <h4> <a href="https://ui.adsabs.harvard.edu/link_gateway/2018MNRAS.478.4720G/PUB_PDF"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> Plasma source and loss at comet 67P during the Rosetta mission </h3>
        <h4> Heritier, Galand, Henri, ..., <b> Ducrot </b> et al. 2018. A &amp A Volume 618, October 2018 <br></h4>
        <h4> <a href="https://www.aanda.org/articles/aa/pdf/2018/10/aa32881-18.pdf"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> Unmasking the hidden NGTS-3Ab: a hot Jupiter in an unresolved binary system </h3>
        <h4> Gunther, Queloz, Gillen, ..., <b> Ducrot </b> et al. 2018. Monthly Notices of the Royal Astronomical Society, Volume 478, Issue 4, p.4720-4737 <br></h4>
        <h4> <a href="https://ui.adsabs.harvard.edu/link_gateway/2018MNRAS.478.4720G/PUB_PDF"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> Non-detection of Contamination by Stellar Activity in the Spitzer Transit Light Curves of TRAPPIST-1 </h3>
        <h4> Morris, Agol, Hebb, Hawley, Gillon, <b> Ducrot </b> et al. 2018. The Astrophysical Journal Letters, Volume 863, Issue 2, article id. L32, 5 pp. (2018). <br></h4>
        <h4> <a href="https://ui.adsabs.harvard.edu/link_gateway/2018ApJ...863L..32M/PUB_PDF"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> The evanescent wave coronagraph project: setup results and demonstrator preliminary design </h3>
        <h4> Buisset, Lèpine, Thiébault, ..., <b> Ducrot </b> et al. 2018. Advances in Optical and Mechanical Technologies for Telescopes and Instrumentation III, Society of Photo-Optical Instrumentation Engineers(SPIE) Conference Series, vol. 107062P <br></h4>
        <h4> <a href="https://ui.adsabs.harvard.edu/link_gateway/2018SPIE10700E..1ID/PUB_HTML"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> SPECULOOS: a network of robotic telescopes to hunt for terrestrial planets around the nearest ultracool dwarfs </h3>
        <h4> Delrez, Gillon, Queloz, ..., <b> Ducrot </b> et al. 2018. Proceedings of the SPIE, Volume 10700, id. 107001I 21 pp. (2018). <br></h4>
        <h4> <a href="https://ui.adsabs.harvard.edu/link_gateway/2018SPIE10700E..1ID/PUB_HTML"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> Study of a coronagraphic mask using evanescent waves </h3>
        <h4> Buisset, Rabbia, Lepine, Alagao, <b> Ducrot </b> et al. 2017. Optics Express, vol. 25, issue 7, p. 7273 <br></h4>
        <h4> <a href="https://ui.adsabs.harvard.edu/link_gateway/2018SPIE10700E..1ID/PUB_HTML"> [Click here to read full article]</a></h4>
    </div>


</div>
